* {
  font-family: "Geologica-Regular", Helvetica;
  text-align: left;
}

body {
  text-align: center;
  font-family: verdana, sans-serif;
  background-color: rgba(55, 152, 128, 0.8);
  /* background: #151919; */
}

.motherbox {
  background: #151919;
  display: inline-block;
  color: #fff;
  max-width: 340px;
  /* box-shadow: inset -2px -6px 20px 2px rgba(62, 199, 199, 0.1); */
  box-shadow: inset -2px -6px 20px 2px rgba(255, 255, 255, 0.4);
  padding: 10px 20px;
  border-radius: 20px;
}

@media screen and (max-width: 400px) {
  body{
    margin: 0;
  }
  
  .motherbox {
    border-radius: 0px;
    box-shadow: inset 0px -3px 13px 4px rgba(62, 199, 199, 0.3);
  }
}

.center {
  text-align: center;
}

.clickables {
  font-size: 20px;
  color: #3ec7c7;
  font-weight: 500;
  cursor: pointer;
}

p {
  margin: 0.3em 0;
}

.h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  /* border-bottom: 2px solid white; */
  margin: 12px auto;
}

.h1 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  /* border-bottom: 2px solid white; */
  margin: 4px auto;
}

.thewifibox{
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 25px;
  margin: 20px 0;
  /* box-shadow: 5px 5px 10px rgba(62, 199, 199, 0.5);  */
  position: relative;
}

.thewifiboxoverlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(14, 42, 42, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  /* font-size: 30px; */
}

.putwifishere{
  padding: 0px 20px 20px 20px;
  /* border: 1px solid #fff; */
  border-radius: 4px;
  margin: 20px 0 20px 0;
  max-height: 30vh;
  overflow-y: scroll;
  /* box-shadow: 10px 0px 20px rgba(62, 199, 199, 0.2);  */
  /* box-shadow: inset -7px -6px 20px 0px rgba(62, 199, 199, 0.2) */
}

.putwifishere::-webkit-scrollbar {
  width: 5px; /* Adjust the width as desired for the scrollbar */
}

.putwifishere::-webkit-scrollbar-thumb {
  background-color: #3ec7c7;
  border-radius: 10px; /* To make the thumb oval-shaped */
}

.putwifishere::-webkit-scrollbar-track {
  background: transparent; /* Make the scrollbar track transparent */
  /* margin: 10px; */
}

div {
  padding: 10px 0px;
}

input,
select {
  padding: 5px;
  font-size: 1em;
}

input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #dddddd;
  color: #000000;
}

.box {
  text-align: center;
}

.box img {
  width: 250px;
  margin: 10px;
}

.passwordeye,
.passwordeye img {
  margin: 0;
  padding: 0;
}

.wifi-input {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  border: 2px solid #266;
  margin-bottom: 20px;
}

.wifi-input input {
  outline: none;
  border: none;
  background: none;
  color: #acacac;
  font-weight: 400;
}

button {
  border: 0;
  border-radius: 18px;
  padding: 10px 0px;
  color: #faffff;
  line-height: 2.4rem;
  font-size: 1.2rem;
  width: 100%;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  cursor: pointer;
  margin: 10px auto 0px auto;
}

.bred {
  background: linear-gradient(92deg, #d73434 0%, #b33131 100%);
}

.bred:hover {
  background: linear-gradient(92deg, #b33131 0%, #d73434 100%);
}

.bgrn {
  background: linear-gradient(92deg, #34d7d7 0%, #31b3b3 100%);
}

.bgrn:hover {
  background: linear-gradient(92deg, #31b3b3 0%, #34d7d7 100%);
}

a {
  text-decoration: none;
}

.wifi-ssids {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding: 0;
  padding-top: 4px;
  margin: 2px 0;
  padding-left: 15px;
  cursor: pointer;
}

.mb-0{
  margin-bottom: 0;
}

#common-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(55, 152, 128, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

#common-wrapper img{
  animation: glowing2 7s infinite alternate;
}

@keyframes glowing2 {

  0%,
  100% {
      filter: brightness(100%) drop-shadow(0 0 0 #f8f9f898) drop-shadow(0 0 0 #ffffffa7);
      /* width: 50px; */
  }

  50% {
      filter: brightness(120%) drop-shadow(0 0 2px #f8f9f898) drop-shadow(0 0 3px #ffffffa7);
      /* width: 60px; */
  }
}

.wrapper-texter{
  font-size: 1rem;
  margin: 10px;
  text-align: center;
  font-weight: 700;
  color: #fff;
}

.wrapper-timer{
  font-size: 1rem;
  margin: 10px;
  text-align: center;
  font-weight: 700;
  color: #fff;
}

.wrapper-timer span{
  font-size: 1rem;
  margin: 10px;
  text-align: center;
  font-weight: 700;
  color: red;
}

.thewifiboxoverlay .loading-text {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.ellipse-2,
.ellipse-2 * {
    box-sizing: border-box;
}

.ellipse-2 {
    background: rgba(22, 26, 26, 0.7) url('favicon.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    margin-bottom: 20px;
}

.ellipse-2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 8.28px 3.18px 11.46px 0px rgba(0, 0, 0, 0.9),
        inset -4.46px -2.55px 12.74px 0px rgba(41, 221, 221, 0.7);
    border-radius: inherit;
    animation: rotateShadow 4s linear infinite;
}
